<!DOCTYPE html>
<html>
<head>
	<title>Hex Colors</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body id="userShow">

<% include ../partials/navigation_user.ejs %>

<div id="hexColorsContainer">
	<% for (var i = 0; i<colors.length; i++){ %>
		<div class="hexColor" style="background-color:<%=colors[i].hex%>">
			<p class="hexColorCode"><%=colors[i].hex%></p> <!-- NEED THIS TO BE ACCESSED IN CSS? -->
		</div>
	<% } %>
</div>
<div id="collectionInfo">
	<div id="createNewPalette">
		<h4>Create new palette</h4>
		<form action="/users/<%= user.id %>/newcollection" method="POST">
			<input type="text" name="name" placeholder="Palette name">
				<div id ="createdPaletteContainer">
					<li>HexColor</li> <!-- perhaps loop through clicks? -->
				</div>
			<button>Create</button>
		</form>
	</div>
	<div id="myPalettesContainer">
		<h4>My Palettes</h4>

		<% for(var i = 0; i<user.collections.length; i++){ %>
			<p class="paletteName"><%= user.collections[i].name %>
				
	<!-- 			<form action="/users/<%= user.id %>?_method=DELETE" method="POST">
					<input type="hidden" name="palette" value="<%= user.collections[i].id %>"/>
					<button>Delete</button>
				</form>  -->

			</p>
		<% } %>

	</div>
</div>

</body>
</html>