<!DOCTYPE html>
<html>
<head>
	<title>Hex Colors</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</head>
<body id="userShow">

<script>

var userID= <%=user.id%>;

</script>

<nav>
	<section id="logoContainer">
		<a href="/users/"><img src="../img/hashtag.png"></a>
	</section>
	<section id="palettesContainer">
		<a href="/palettes">Palettes</a>
	</section>
	<section id="logout">
		<a href="/users/logout">Logout</a>
	</section>
</nav>


<div id="hexColorsContainer">
	<% for (var i = 0; i<colors.length; i++){ %>



		<div id="<%=colors[i].hex%>" class="hexColor" style="background-color:<%=colors[i].hex%>" >
			<p class="hexColorCode"><%=colors[i].hex%></p> <!-- NEED THIS TO BE ACCESSED IN CSS? -->
		</div>
	<% } %>
</div>
<div id="collectionInfo">
	<div id="createNewPalette">
		<h4 class="bold">Create new palette</h4>
		<div class="instructions">
			<p class="bodyCopy">Click on color to add to your palette</p>
			<p class="bodyCopy">Add palette name</p>
		</div>
		<form id ="createPaletteForm" action="/users/<%= user.id %>/newcollection" method="POST">
			<!-- <br> -->


			<!-- <form id="deleteColorForm" action="/users/<%= user.id %>/deletecolor"> -->

			<!-- PALETTE NAME -->
			<!-- <input type="text" name="name" placeholder="Palette name"><br> -->
			<!-- <input type="color" name="palette"> -->

			<!-- <button id="savePaletteButton">Save</button><br> -->
		</form>
	</div>
	<div id="myPalettesContainer">
		<h4 class="bold"><%= user.username %>'s Palettes</h4>

		<% for(var i = 0; i<user.collections.length; i++){ %>
			<div class="palette">
				<p class="paletteName"><%= user.collections[i].name %></p>

					<!-- DELETE PALETTE FROM USERS COLLECTION -->
					<form action="/users/<%=user.id%>/<%= user.collections[i].id %>?_method=DELETE" method="POST" type="hidden">
						<input type="hidden" value="<%= user.collections[i].id %>">
							<button>Delete</button>
					</form>

				<% for(var j=0; j<user.collections[i].palette.length; j++){ %>

					<div class="paletteColor" style="background-color:<%=user.collections[i].palette[j]%>"></div>
					
					<!-- <br> -->

					
				<% } %> <!-- end palette[j] loop -->
			<!-- DELETE? -->	
			<!-- <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
					<input type="hidden" name="palette" value="<%= user.collections[i].id %>"/>
					<button>Delete</button>
				</form>  -->

			
		</div>
		<br>
		<% } %> <!-- end collection[i] loop -->

	</div> <!-- END myPalettesContainer -->
</div>

</body>
</html>